body {
  background-color: rgb(26, 26, 26);
  font-family: Georgia, "Times New Roman", Times, serif;
}

h1 {
  color: white;
  margin-top: 80px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  font-size: 35px;
}
